
@import "compass";
@import "compass/reset";

/* **** FRAMEWORK **** */

$colorTitleH1: #FF6900;
$colorTitleH2: #FF6900;
$colorTitleH3: #336699;
$colorTitleH4: #000000;
$colorTitleH5: #000000;
$colorTitleH6: #000000;
$bodyColor: #F2F0EA;
$sectionColor: darken($bodyColor, 7%);
$spanColor: darken($bodyColor, 17%);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

body{ font-family: 'Open Sans', sans-serif, arial; }

h1, h2, h3, h4, h5, h6{	font-weight: bold; }

h1{ font-size: 2.2em; color: $colorTitleH1; text-align: center; margin-bottom: 2%; }
h2{ font-size: 1.7em; color: $colorTitleH2; text-align: center; margin-bottom: 2%; }
h3{ font-size: 1.4em; color: $colorTitleH3; text-align: center; margin-bottom: 1% }
h4{ font-size: 1em; color: $colorTitleH4; text-align: center; margin-bottom: 1% }
h5{ font-size: 0.8em; color: $colorTitleH5; text-align: center; margin-bottom: 1% }
h6{ font-size: 0.6em; color: $colorTitleH6; text-align: center; margin-bottom: 1% }

u{ text-decoration: underline; }
b{ font-weight: bold; }
i{ font-style: italic; }
small{ font-size: 0.7em; font-style: italic; }
strike{ text-decoration: line-through; }
strong{ font-weight: bold; }
sub{ vertical-align: sub; font-size: smaller; }
sup{ vertical-align: super; font-size: smaller; }

a{ text-decoration: none; color: black; }
p{ display: block; margin-bottom: 1%; }

input, select{ width: 200px; }
textarea{ resize: vertical; width: 200px; min-height: 200px; }
form{ text-align: center; }

ol{ list-style-type: upper-roman; }
ul{ list-style-type: square; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8 { 
	@include box-sizing(border-box); 
	@include border-radius(5px); 
}

/* **** FIN FRAMEWORK **** */

body{
	background: url(../images/background.jpg) no-repeat top left;
	@include background-size(cover);
	background-color: black;
  	/*background-color: $bodyColor;*/  	
}

section{
	background-color: $sectionColor;
}

.form{
	background-color : #e4e0d4;
}
#imgdetail{

	width: 300px;
	border : 1px solid black;
}
#imgminiature{
	
	width: 100px;
	height:80px;
	border : 1px solid black;
}


#content .row:first-child { /* Header */
	background-color: rgba(255, 255, 235, 0); /* changer à 1 si pas d'image de fond */

	img{  /* Banniere */
		width: 100%; 
		height: 100px; 
		border: $sectionColor 2px outset;
		margin-bottom: 1%;
	}
}

#content .row{ /* Ligne menu + annonce */
	margin: 1% 0;

	.span2{
		padding: 10px;
		margin-bottom: 1%;
		background-color: $sectionColor;

		nav ul li{
			list-style-type: none;
			@include border-radius(5px);
			padding: 10px;
			margin-bottom: 1%;
			background-color: #336699;
			color: white;
			font-weight: bold;

			a{ color: white; }

			ul li{ display: none; } /* n'affiche les catégories que lorsque qu'on survole */
		}

		nav ul li:hover ul li{ display: block; }
	}

	
	.span6{ /* Conteneur principal */
		margin-bottom: 1%;
		padding: 10px;

		.span4{ /* Block pour une annonce */
			@include border-radius(5px 5px 0px 0px);
			@include box-shadow(#A38B5A -2px 2px 1px);
			background-color: $spanColor;
			padding: 5px;
			margin-bottom: 25px;

			img { width: 150px; float: left; /*cursor: pointer;*/ }
			/*img:active { width: 350px; }*/ /* Action pour agrandir l'image d'une annonce quand on clic dessus */
			.photo{ width: 100%; }
			.desc{ text-align: justify; }

			.span3, .span5{ background-color: $spanColor; } /* Zone de texte de l'annonce et l'image */

			.span8{ /* Bouton [Voir l'annonce] */
				margin: 1% 0;
				text-align: center;
				background-color: #FF6900;
				@include border-radius(5px);

				a{ color: white; width: 100%; display: block; } /* Display block pour étendre la zone cliquable */
			}
		}

		.span4:hover{ @include box-shadow(#A38B5A 2px -2px 1px); } 

		.row:nth-child(5) .span8{ /* Pagination */
			margin-bottom: 1%;
			text-align: center;
			font-weight: bold;
			color: #336699;

			.OP{ text-decoration: underline; color: #336699; }
		}
	}
}

.info{ text-align: center; }
.RA{ display: none; } /* Bouton retour a l'accueil pour les mobiles / tablettes */

small{ display: block; text-align: center; font-weight: bold; } /* Display block pour pouvoir centrer */

input[type=number], input[type=text], input[type=password], select{
	@include box-shadow(#FEAF38 2px 2px 10px inset);
	@include border-radius(4px);
	border-color: #336699;
}
input[type=number]{ width: 50px; }
input[type=submit], input[type=button], input[type=file]{
	@include border-radius(5px);
	border-color: #336699;
	background-color: #336699; 
	color: white;
}




@media screen and (max-width: 680px){
	#content .row{
		.span2{
			display: block;
			width: 98%;			
			
			nav ul li:nth-child(4){ color: #FF6900; }
			nav ul li { display: inline-block; }
			nav ul li ul li{ /* Les catégories */
				display: inline-block;
			}
			nav ul li:hover ul li{ display: inline-block; } /* annule le display block */
		}

		.span6{
			width: 98%;

			.span4{ /* Clear left pour n'avoir qu'une annonce par ligne */
				clear: left;
				width: 100%; /* l'annonce occupe toute la place */
				.RA{ display: block; } /* Bouton retour accueil */
			}
		}
	}
}


@media screen and (max-width: 480px) {
	#content .row:first-child {

		img{  /* Banniere */
			display: none;
		}
	}

	#content .row{
		.span6{
			.span4{
				img{ display: none; }
				.span5{ width: 100%; } /* Permet de centrer le texte de l'annonce sans l'image */
				.photo{ display: block; } /* Affiche l'image que sur la page annonce */
				.RA{ display: block; } /* Bouton retour accueil */
			}
		}
	}
}

/*@media screen and (orientation : landscape) {
	#content .row{
		.span2{
			display: block;
			width: 98%;			
			
			nav ul li:nth-child(4){ color: #FF6900; }
			nav ul li { display: inline-block; }
			nav ul li ul li{
				display: inline-block;
			}
			nav ul li:hover ul li{ display: inline-block; } 
		}

		.span6{
			width: 98%;

			.span4{
				clear: left;
				width: 100%;
				.RA{ display: block; } 
			}
		}
	}
}*/