@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);
/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* **** FRAMEWORK **** */
/* line 19, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif, arial;
}

/* line 21, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 23, ../sass/screen.scss */
h1 {
  font-size: 2.2em;
  color: #FF6900;
  text-align: center;
  margin-bottom: 2%;
}

/* line 24, ../sass/screen.scss */
h2 {
  font-size: 1.7em;
  color: #FF6900;
  text-align: center;
  margin-bottom: 2%;
}

/* line 25, ../sass/screen.scss */
h3 {
  font-size: 1.4em;
  color: #336699;
  text-align: center;
  margin-bottom: 1%;
}

/* line 26, ../sass/screen.scss */
h4 {
  font-size: 1em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

/* line 27, ../sass/screen.scss */
h5 {
  font-size: 0.8em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

/* line 28, ../sass/screen.scss */
h6 {
  font-size: 0.6em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

/* line 30, ../sass/screen.scss */
u {
  text-decoration: underline;
}

/* line 31, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 32, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 33, ../sass/screen.scss */
small {
  font-size: 0.7em;
  font-style: italic;
}

/* line 34, ../sass/screen.scss */
strike {
  text-decoration: line-through;
}

/* line 35, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 36, ../sass/screen.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 37, ../sass/screen.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 39, ../sass/screen.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 40, ../sass/screen.scss */
p {
  display: block;
  margin-bottom: 1%;
}

/* line 42, ../sass/screen.scss */
input, select {
  width: 200px;
}

/* line 43, ../sass/screen.scss */
textarea {
  resize: vertical;
  width: 200px;
  min-height: 200px;
}

/* line 44, ../sass/screen.scss */
form {
  text-align: center;
}

/* line 46, ../sass/screen.scss */
ol {
  list-style-type: upper-roman;
}

/* line 47, ../sass/screen.scss */
ul {
  list-style-type: square;
}

/* line 49, ../sass/screen.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* **** FIN FRAMEWORK **** */
/* line 56, ../sass/screen.scss */
body {
  background: url(../images/background.jpg) no-repeat top left;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: black;
  /*background-color: $bodyColor;*/
}

/* line 63, ../sass/screen.scss */
section {
  background-color: #e4e0d4;
}

/* line 67, ../sass/screen.scss */
.form {
  background-color: #e4e0d4;
}

/* line 70, ../sass/screen.scss */
#imgdetail {
  width: 300px;
  border: 1px solid black;
}

/* line 75, ../sass/screen.scss */
#imgminiature {
  width: 100px;
  height: 80px;
  border: 1px solid black;
}

/* line 83, ../sass/screen.scss */
#content .row:first-child {
  /* Header */
  background-color: rgba(255, 255, 235, 0);
  /* changer ├á 1 si pas d'image de fond */
}
/* line 86, ../sass/screen.scss */
#content .row:first-child img {
  /* Banniere */
  width: 100%;
  height: 100px;
  border: #e4e0d4 2px outset;
  margin-bottom: 1%;
}

/* line 94, ../sass/screen.scss */
#content .row {
  /* Ligne menu + annonce */
  margin: 1% 0;
}
/* line 97, ../sass/screen.scss */
#content .row .span2 {
  padding: 10px;
  margin-bottom: 1%;
  background-color: #e4e0d4;
}
/* line 102, ../sass/screen.scss */
#content .row .span2 nav ul li {
  list-style-type: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1%;
  background-color: #336699;
  color: white;
  font-weight: bold;
  /* n'affiche les cat├®gories que lorsque qu'on survole */
}
/* line 111, ../sass/screen.scss */
#content .row .span2 nav ul li a {
  color: white;
}
/* line 113, ../sass/screen.scss */
#content .row .span2 nav ul li ul li {
  display: none;
}
/* line 116, ../sass/screen.scss */
#content .row .span2 nav ul li:hover ul li {
  display: block;
}
/* line 120, ../sass/screen.scss */
#content .row .span6 {
  /* Conteneur principal */
  margin-bottom: 1%;
  padding: 10px;
}
/* line 124, ../sass/screen.scss */
#content .row .span6 .span4 {
  /* Block pour une annonce */
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0px 0px;
  -moz-box-shadow: #A38B5A -2px 2px 1px;
  -webkit-box-shadow: #A38B5A -2px 2px 1px;
  box-shadow: #A38B5A -2px 2px 1px;
  background-color: #d1cab4;
  padding: 5px;
  margin-bottom: 25px;
  /*img:active { width: 350px; }*/
  /* Action pour agrandir l'image d'une annonce quand on clic dessus */
  /* Zone de texte de l'annonce et l'image */
}
/* line 131, ../sass/screen.scss */
#content .row .span6 .span4 img {
  width: 150px;
  float: left;
  /*cursor: pointer;*/
}
/* line 133, ../sass/screen.scss */
#content .row .span6 .span4 .photo {
  width: 100%;
}
/* line 134, ../sass/screen.scss */
#content .row .span6 .span4 .desc {
  text-align: justify;
}
/* line 136, ../sass/screen.scss */
#content .row .span6 .span4 .span3, #content .row .span6 .span4 .span5 {
  background-color: #d1cab4;
}
/* line 138, ../sass/screen.scss */
#content .row .span6 .span4 .span8 {
  /* Bouton [Voir l'annonce] */
  margin: 1% 0;
  text-align: center;
  background-color: #FF6900;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* Display block pour ├®tendre la zone cliquable */
}
/* line 144, ../sass/screen.scss */
#content .row .span6 .span4 .span8 a {
  color: white;
  width: 100%;
  display: block;
}
/* line 148, ../sass/screen.scss */
#content .row .span6 .span4:hover {
  -moz-box-shadow: #A38B5A 2px -2px 1px;
  -webkit-box-shadow: #A38B5A 2px -2px 1px;
  box-shadow: #A38B5A 2px -2px 1px;
}
/* line 150, ../sass/screen.scss */
#content .row .span6 .row:nth-child(5) .span8 {
  /* Pagination */
  margin-bottom: 1%;
  text-align: center;
  font-weight: bold;
  color: #336699;
}
/* line 156, ../sass/screen.scss */
#content .row .span6 .row:nth-child(5) .span8 .OP {
  text-decoration: underline;
  color: #336699;
}

/* line 161, ../sass/screen.scss */
.info {
  text-align: center;
}

/* line 162, ../sass/screen.scss */
.RA {
  display: none;
}

/* Bouton retour a l'accueil pour les mobiles / tablettes */
/* line 164, ../sass/screen.scss */
small {
  display: block;
  text-align: center;
  font-weight: bold;
}

/* Display block pour pouvoir centrer */
/* line 166, ../sass/screen.scss */
input[type=number], input[type=text], input[type=password], select {
  -moz-box-shadow: #FEAF38 2px 2px 10px inset;
  -webkit-box-shadow: #FEAF38 2px 2px 10px inset;
  box-shadow: #FEAF38 2px 2px 10px inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: #336699;
}

/* line 171, ../sass/screen.scss */
input[type=number] {
  width: 50px;
}

/* line 172, ../sass/screen.scss */
input[type=submit], input[type=button], input[type=file] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #336699;
  background-color: #336699;
  color: white;
}

@media screen and (max-width: 680px) {
  /* line 184, ../sass/screen.scss */
  #content .row .span2 {
    display: block;
    width: 98%;
    /* annule le display block */
  }
  /* line 188, ../sass/screen.scss */
  #content .row .span2 nav ul li:nth-child(4) {
    color: #FF6900;
  }
  /* line 189, ../sass/screen.scss */
  #content .row .span2 nav ul li {
    display: inline-block;
  }
  /* line 190, ../sass/screen.scss */
  #content .row .span2 nav ul li ul li {
    /* Les cat├®gories */
    display: inline-block;
  }
  /* line 193, ../sass/screen.scss */
  #content .row .span2 nav ul li:hover ul li {
    display: inline-block;
  }
  /* line 196, ../sass/screen.scss */
  #content .row .span6 {
    width: 98%;
  }
  /* line 199, ../sass/screen.scss */
  #content .row .span6 .span4 {
    /* Clear left pour n'avoir qu'une annonce par ligne */
    clear: left;
    width: 100%;
    /* l'annonce occupe toute la place */
    /* Bouton retour accueil */
  }
  /* line 202, ../sass/screen.scss */
  #content .row .span6 .span4 .RA {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  /* line 212, ../sass/screen.scss */
  #content .row:first-child img {
    /* Banniere */
    display: none;
  }

  /* line 219, ../sass/screen.scss */
  #content .row .span6 .span4 {
    /* Permet de centrer le texte de l'annonce sans l'image */
    /* Affiche l'image que sur la page annonce */
    /* Bouton retour accueil */
  }
  /* line 220, ../sass/screen.scss */
  #content .row .span6 .span4 img {
    display: none;
  }
  /* line 221, ../sass/screen.scss */
  #content .row .span6 .span4 .span5 {
    width: 100%;
  }
  /* line 222, ../sass/screen.scss */
  #content .row .span6 .span4 .photo {
    display: block;
  }
  /* line 223, ../sass/screen.scss */
  #content .row .span6 .span4 .RA {
    display: block;
  }
}
/*@media screen and (orientation : landscape) {
	#content .row{
		.span2{
			display: block;
			width: 98%;			
			
			nav ul li:nth-child(4){ color: #FF6900; }
			nav ul li { display: inline-block; }
			nav ul li ul li{
				display: inline-block;
			}
			nav ul li:hover ul li{ display: inline-block; } 
		}

		.span6{
			width: 98%;

			.span4{
				clear: left;
				width: 100%;
				.RA{ display: block; } 
			}
		}
	}
}*/
