{% extends "main.html.twig" %}

{% block mainContent %}

	<section class ="span6">
		<h2>Aide à l'utilisation de l'API racoinphp</h2>
		<section class ="span4 offset2">
			<p>
				 récupérer toutes nos annonces au format JSON :
			</p>

			</p>
				<a href='/racoinphp/json/annonces'><small>cliquez ici</small></a>
			</p>
			<hr>
			<p>
				 récupérer une annonce avec son id :<br>
			</p>

			<p>
				<small>/racoinphp/json/annonce/{id_de_l'annonce} </small>  
			</p>
		</section>
	</section>
	
{% endblock %}