{% extends "main.html.twig" %}

{% block mainContent %}
	 <script type="text/javascript">

		$( ".img1" ).live('click', function() {
		    var src = ($(this).attr('src'));
	        $('#imgdetail').attr('src', src);
		});

		$( ".img2" ).live('click', function() {
		    var src = ($(this).attr('src'));
	        $('#imgdetail').attr('src', src);
		});

		$( ".img3" ).live('click', function() {
		    var src = ($(this).attr('src'));
	        $('#imgdetail').attr('src', src);
		});
	
	 </script>
	<section class="span6">
	<p>{% for ds in d %}
	<h1>{{ ds.titre }}</h1>
	<small>{{ ds.datePubli }}</small>
	<small>{{ ds.ville }}</small><br>
	<img src='../{{ ds.photo }}' id='imgdetail' class='span6 offset3'><br>

	
	 <img src="../{{ds.photo}}" id ='imgminiature' class ="img1" >
	 
	 {% if ds.photo2 |length  > 0 %}
     	<img src="../{{ds.photo2}}" id ='imgminiature' class ="img2" >
     {% endif %}

      {% if ds.photo3 |length  > 0 %}
     <img src="../{{ds.photo3}}" id ='imgminiature' class ="img3" "><br><hr>
       {% endif %}
       
     <p>{{ ds.description }}</p><br>
    
     <small><a href='/racoinphp'>Retour à la liste d'annonces</a></small>

{% endfor %}</p>
	</section>
{% endblock %}