{% extends "main.html.twig" %}

{% block mainContent %}

    <script>
   $(document).ready(function() { 
 
    $('#valider').click(function() {  
 
        $(".error").hide();
        var hasError = false;
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
 
        var emailaddressVal = $("#mail").val();
      
 
        if(!emailReg.test(emailaddressVal)) {
            $("#mail").after('<span class="error" style ="color:red;"> adresse Invalide !.</span>');
            hasError = true;
        }
 
        if(hasError == true) { return false; }
 
    });
});
    </script>


<section class='form span6' id='formulaire' >
<form method="post" action="{{d[url]}}" id ="form">
<h1>Ajouter une annonce</h1>
<section class='span4 offset2 '>
   <p>
       <label for="titre">Titre :</label>
       <input type="text" name="titre" id="titre" REQUIRED/>
       
       <br />
       <label for="ville">Votre ville :</label>
       <input type="text" name="ville" id="ville" REQUIRED/>

        <br />
       <label for="cp">Votre CP :</label>
       <input type="text" name="cp" id="cp" REQUIRED/>

        <br />
       <label for="prix">Votre prix :</label>
       <input type="text" name="prix" id="prix" REQUIRED/>

        <br />
       <label for="nom">Votre nom :</label>
       <input type="text" name="nom" id="nom" REQUIRED/>

       <br />
       <label for="mail">Votre mail :</label>
       <input type="text" name="mail" id="mail" REQUIRED/>

       <br />
       <label for="mdp">Votre mdp :</label>
       <input type="password" name="mdp" id="mdp" REQUIRED/>

		<br /> 
       <label for="description">description:</label><br />
       <textarea name="description" id="description" REQUIRED></textarea>

       <br />
       <label for="categ">Categorie</label><br />
       <select name="categ" id="categ">
          {% for cat in d.categs %}
            <option value="{{cat.id}}">{{cat.libelle}}</option>
          {% endfor %}
        </select>
       
   </p>
   <button type='submit' id="valider">ok</button><br>
</form>
</section>
</section>
{% endblock %}