{% extends "main.html.twig" %}

{% block mainContent %}

<h1>Formulaire d'accès à vos annonces</h1>
<div id="row">
	<section class="span6">
	<h1>Accès à mes annonces</h1>
		<p>  Veuillez entrer votre adresse mail afin d'afficher la liste de toutes vos annonces.</p>
		<form name='mesannonces' method='POST' action='{{d[url]}}'>
			<input type="text" name='mail' placeholder='entrez votre email' REQUIRED>
			<input type="submit" name='valider' text='valider'>
    	</form>
	</section>
</div>

{% endblock %}