<!DOCTYPE HTML>
<html>
	<head>
		<title>Racoin.fr</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/racoinphp/stylesheets/screen.css">
		<link rel="stylesheet" href="/racoinphp/stylesheets/grid.css">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		

		

	</head>

	<body>
		<div id="content">

			<div class="row">
				<header class="offset2 span4"><a href="/racoinphp"><img src="/racoinphp/images/banniere.png" alt="Banniere"></a></header>
			</div>