{% extends "main.html.twig" %}

{% block mainContent %}

<h1>hMes annonces</h1>
<section class ='span6'>
<div class="row"> <!-- Ligne pour les annonces -->
	{% if e |length  > 0 %}
			{% for es in e %}
				<section class="span4 annonce"> <!-- Une annonce -->
					<h3>{{ es.titre }}</h3>
					<small>Le {{ es.datePubli }} </small>
					<small>categorie {{es.idCategorie}}</small> <br>
					<section class="span3"><img src="{{es.photo}}" alt="Photo de l'annonce"></section>
					<section class="span5">
					<p><u>Prix :</u> {{es.prix}}€</p>
					<p><u>Lieu :</u> {{es.ville}}</p> <br>
					<p>{{as.message}}</p>
				</section>
				<section class="span8"><a href="annonce/{{es.id}}">Voir l'annonce</a></section>
	</section>

			{% endfor %}
	{% else %}
	<h3> Il n'y a aucune annonce correspondant à votre recherche !</h3>
	  <small><a href='/racoinphp/mesannonces'>Retour au formulaire</a></small>
	{% endif %}

</div>
</section>

{% endblock %}