{% extends "main.html.twig" %}

{% block mainContent %}
	{% if a |length  > 0 %}
		<section class="span6">
			<h1>Les annonces</h1>
			<div class="row"> <!-- Ligne pour les annonces -->
				{% for as in a %}
					<section class="span4"> <!-- Une annonce -->
						<h3>{{ as.titre }}</h3>
						<small>Le {{ as.datePubli }} </small>
						<small>categorie {{as.idCategorie}}</small> <br>
						<section class="span3"><img src="{{as.photo}}" alt="Photo de l'annonce"></section>
						<section class="span5">
						<p><u>Prix :</u> {{as.prix}}€</p>
						<p><u>Lieu :</u> {{as.ville}}</p> <br>
						<p>{{as.message}}</p>
					</section>
					<section class="span8"><a href="annonce/{{as.id}}">Voir l'annonce</a></section>
		</section>
				{% endfor %}
		   	{% else %}
		<h3> Il n'y a pas d'article à afficher !</h3>
		  <small><a href='/racoinphp/mesannonces'>Retour au formulaire</a></small>
	{% endif %}

</div>
</section>

	
{% endblock %}

