<div class="row"> <!-- Ligne principale -->
	<section class="span2">
		<nav>
			<h2>Navigation</h2>
			<ul>
				<li><a href="/racoinphp/add">Ajouter annonce</a></li>
				<li><a href="/racoinphp/mesannonces">Gérer annonce</a></li>
				<li><a href="/racoinphp/aideapi">API REST</a></li>
				<li>Catégorie
					<ul>
						<li><a href="index.html">Véhicules</a></li>
						<li><a href="index.html">Immobilier</a></li>
						<li><a href="index.html">Multimédia</a></li>
						<li><a href="index.html">Maison</a></li>
						<li><a href="index.html">Loisirs</a></li>
						<li><a href="index.html">Autres</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</section>
