

{% extends "main.html.twig" %}


{% block mainContent %}
<h1> Prévisualisation de votre annonce :</h1>
	<form method="post" action="{{d.url}}">
		<section class="span6">
		<h1>{{ d.titre }}</h1>
		<small>{{ d.datePubli }}</small>
		<small>{{ d.ville }}</small><br>
		<img src='../{{ d.photo }}' id='imgdetail' class='span6 offset3'>
	     <p>{{ d.description }}</p><br>
	   <button type='submit' name='valider'>Valider l'annonce</button><br>
	</section>

</form>
{% endblock %}